.paginaPerfil {
  .HeaderPerfil {
      background-color: $branco1;

      .headerPerfil__statusPerfil {
          display: flex;
          align-items: center;
          padding: 16px 16px 24px;

          .avatar {
              height: 85px;
              width: 85px;
              margin-right: 24px;
          }
      
          .statusPerfil__statusInformacoes {
              flex: 1;
              display: flex;
              flex-direction: column;

              .btn {
                  margin-top: 12px;
                  padding: 6px;
                  font-size: 12px;
                  border-radius: 4px;
              }

              .statusContainer {
                  display: flex;
                  justify-content: space-around;

                  .status {
                      text-align: center;

                      > strong {
                          font-size: 14px;
                          display: block;
                      }

                      > span {
                          font-size: 12px;
                          display: block;
                      }
                  }
              }
          }
      }
  }

  @media screen and (min-width: $desktopBreakPoint) {
      .HeaderPerfil {
          .header__comAcoes {
              > span {
                  display: none !important;
              }
          }
          
          .headerPerfil__statusPerfil {
              .avatar {
                  width: 90px;
                  height: 90px;
              }

              .statusPerfil__statusInformacoes {
                  .btn {
                      padding: 8px;
                  }
              }
          }
      }

  }
}