.feedContainer {
  padding-bottom: 60px;
  background-color: $branco1;
  margin-top: 14px;

  .postagem {
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
    margin-top: 8px;
    margin-bottom: 8px;

    .cabecalho__post {
      display: flex;
      align-items: center;
      padding: 10px;
      strong {
        font-size: 14px;
        color: $cinza4;
      }
    }

    .foto__Postagem {
      img {
        width: 100%;
        height: auto;
        max-height: 370px;
        object-fit: cover;
      }
    }

    .rodape__postagem {
      padding: 5px 16px;

      .comentarios__postagem {
        border-top: 1px solid $cinza1;
        margin-top: 3px;
        .comentario {
          margin-top: 5px;
        }
      }
      strong.nomeUsuario__descricao {
        font-size: 12px;
        margin-right: 4px;
        float: left;
        color: $cinza4;
      }

      p.descricaoPost__descricao {
        font-size: 12px;
        margin: 0 0 4px;
        color: $cinza4;

        .exibirDescricao__descricao {
          font-size: 12px;
          color: $corprimaria3;
          margin-left: 3px;
          cursor: pointer;
        }
      }

      .acoesRodape__postagem {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        > img {
          margin-right: 5px !important;
        }
        .quantidadeCurtidas__postagem {
          font-family: $fontLight;
          font-size: 12px;
          color: $cinza4;
          strong {
            font-size: 12px;
            color: $cinza4;
          }
        }
      }
    }

    .fazerComentario__container {
      display: flex;
      padding: 0 9px;
      align-items: center;
      margin-bottom: 16px;

      textarea {
        resize: none;
        flex: 1;
        font-size: 12px;
        max-width: 100%;
        border: none;
        outline: none;
        color: $cinza2;
      }
    }
  }

  @media screen and (min-width: $desktopBreakPoint) {
    padding-top: 8px;
    margin-top: 0px;
    .postagem {
      .cabecalho__post{
        cursor: pointer;
      }
      .avatar {
        width: 42px;
        height: 42px;
      }

      .rodape__postagem{
        .acoesRodape__postagem{
          > img{
            cursor: pointer;
          }
        }
      }
      .fazerComentario__container {
        margin-top: 12px;
        .btn-publicacao {
          background-color: transparent;
          color: $corPrimaria1;
          border: none;
          outline: none;
          font-size: 12px;
          cursor: pointer;
        }
      }

      padding-top: 10px;
    }
  }
}