@import "variaveis.scss";
@import "paginaPublica.scss";
@import "../pages/Cadastro/cadastro.scss";
@import "../pages/perfil/perfil.scss";
@import "../components/InputPublico/inputPublico.scss";
@import "../components/Layout/Header.scss";
@import "../components/Layout/Footer.scss";
@import "../components/Feed/feed.scss";
@import "../components/CabecalhoComacoes/cabecalhoComacoes.scss";
@import "../public/Fontes/fonts.scss";
@import "../components/Button/button.scss";

* {
  font-family: $fontRegular;
  font-size: 14px;
}
body{
  @media screen and (min-width: $desktopBreakPoint) {
   background-color: $cinza5;
   background-image: url('../public/Imagens/imagemDeFundoDesktop.svg');
  }
}
.largura{
  @media screen and (min-width: $desktopBreakPoint) {
    width:35%;
    margin: auto;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
}

.desktop{
  @media screen and (min-width: $desktopBreakPoint) {
    display: block;
  }
  @media screen and (max-width: calc($desktopBreakPoint - 1px)) {
    display: none;
  }
}
.mobile{
  @media screen and (min-width: $desktopBreakPoint) {
    display: none;
  }
  @media screen and (max-width: calc($desktopBreakPoint - 1px)) {
    display: block;
  }
}

input{
  &::placeholder{
    // chorme, opera, safari, farefox
    color: $cinza2;
    opacity: 1;
  }
  &:-ms-input-placeholder{
    color: $cinza2;
  }
  &::-ms-input-placeholder{
    color: $cinza2;
  }
}

.MensagemValidacao{
  display: block;
  color: $vermelho;
  font-size: 90%;
  margin-top: -15px;
  margin-bottom: 15px;
}

.oculto {
  display: none;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.navBar{
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px 0px;
    li{
      list-style: none;
      cursor: pointer;
    }
  }
}

strong{
  font-family: $fontBold;
}

