@import 'variaveis.scss';
@import '../public/Fontes/fonts.scss';
@import '../components/Button/button.scss';

*{
  font-family: $fontRegular;
  font-size: 14px;
}
.oculto{
  display: none;
}
.avatar{
  border-radius: 50%;
  object-fit: cover;
}