.paginaPublica{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding:0px 32px;
  background-color: $branco1;
  .logo__Container{
    position: relative;
    height: 13%;
    width: 100%;
    margin-bottom: 50px;
  }
  .conteudo__paginaPublica{
    width: 100%;
  }
  .btn{
    padding: 10px;
    margin-top: 15px;
  }
  .rodape_paginaPublica{
    text-align: center;
    margin-top: 24px;
    p{
      color: $cinza3;
      margin: 0px 0px 2px;
    }
    a{
      color: $corPrimaria1;
      font-family: $fontBold;
    }
  }

  @media screen and (min-width: $desktopBreakPoint) {
    flex-direction: row;
    padding: 0 140px;
    font-size: 18px;
    .logo__Container{
      flex: 2;
      height: 30%;
      margin-bottom: -30px;
      .logo{
        width: 100%;
        max-width: 400px;
      }
    }
    .conteudo__paginaPublica{
      flex: 1;
      width: 30%;
      border: 1px solid $corPrimaria1;
      border-radius: 26px;
      padding: 50px;
    }

    .btn{
      font-size: 18px;
      padding: 15px;
    }

    .rodape_paginaPublica{
     p, a{
      font-size: 18px;
     }   
    }

    .input__elementos{
      input{
        font-size: 16px;
      }
    }
  }
}
