$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$corPrimaria1: #5E49FF;
$corprimaria3: #25cbd3;
$corprimaria4: #f0f5ff;

$cinza0: #f4f4f4;
$cinza1: #dadada;
$cinza2: #7c7786;
$cinza3: #4D4C4D;
$cinza4: #333333;

$branco1: #fff;

$desktopBreakPoint: 992px;
